@font-face {
  font-family: alientFont;
  src: url('freaky-fonts_cosmic-alien/ca.ttf');
}



@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

h1 {
  font-family: alientFont;
  color: white;
  animation-duration: 2.5s;
  animation-name: slidein;
  position: absolute;
  font-size: 38px;
}

p {
  font-family: alientFont;
  color: white;
  animation-duration: 2.5s;
  animation-name: slidein;
  position: absolute;
  font-size: 14.5px;
  top:45px;
}



#background {
    width: 1000px;
    height: 875px;
    background-image: url("nasa-63032.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

#ship {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 490px;
  top: 700px;
  background-image: url("spaceship-th.png");
  background-repeat: no-repeat;
  background-size: contain;
  animation-duration: 2.5s;
  animation-name: slidein;

}

#invaders {
  height: 800px;
  width: 900px;
  position: absolute;
}

.missile1 {
  background-color: red;
  width: 8px;
	height: 8px;
  position: absolute;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px
}

#missiles {
  width: 1000px;
  height: 875px;
  position: absolute;
}

.invaderz{
  background-image: url("128126.png");
  width: 75px;
  height: 75px;
  position: absolute;
  background-size: contain;

}


input[type=button]:hover {
  background-color: red;
  display: inline-block;
  position: absolute;
}
