#background {
    width: 1200px;
    height: 800px;
    background-color: grey;
    position: absolute;
}

#ship {
  width: 50px;
  height: 50px;
  left: 575px;
  top: 750px;
  position: absolute;
  background-color: blue;
}

#invaders {
  height: 800px;
  width: 1200px;
  position: absolute;
}

.missile1 {
  background-color: green;
  width: 15px;
	height: 15px;
  position: absolute;
}

#missiles {
  width: 1200px;
  height: 800px;
  position: absolute;
}

.invader{
  background-color: white;
  width: 50px;
  height: 50px;
  position: absolute;
}
